
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "font-h1" ;
    src: url(/Para-Katy/fontes/Baby\ Lelucky.ttf);
}

@font-face {
    font-family: "font-h1-ass";
    src: url(/Para-Katy/fontes/Amalfi\ Coast.ttf);
}
:root {
    --cor-1: #73294C;
    --cor-2: #F28DD7;
    --cor-3: #F2BBE9;
    --cor-4: #8946A6;
    --cor-5: #623973; 
    --cor-6: #ffffff;

    --cor-1-mod: #973b66;
    --cor-2-mod: #F28DD7;
    --cor-3-mod: #e49bd8;
    --cor-4-mod: #8946A6;
    --cor-5-mod: #623973; 
    --cor-6-mod: #ffffff;



}

body{
    
    background-image: linear-gradient(to bottom, var(--cor-3-mod), var(--cor-6)) ;
    
}

header{
    width: 100%;
    max-width: 800px;
    font-family: "font-h1";
    font-size: 6vw;
    text-align: center;
    margin: 0 auto;
}

.barra {
    height: 1.5px;
    width: 80%;
    margin: 8px auto;
    border-radius: 1px;

    background-color: #73294C;
}

main {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    
}

h2 {
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    text-align: center ;
    margin-top: 50px;


}

 p {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: justify;
    text-indent: 20px;
    margin-top: 20px;

}

p#ult-p{
    text-align: center;
    margin-top: 40px;
}

div#img-call{
    height: 100px;
    width: 95%;
    margin: 40px auto;
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 02.44.16.jpeg);
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div.img-fotos {
    height: 400px;
    width: 95%;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

div#img-1 {
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 13.06.14.jpeg);
    height: 400px;
    width: 95%;
    max-width: 400px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
}

div#img-2{
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 13.06.15.jpeg);
    height: 400px;
    width: 95%;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: top center;
    

}

div#img-3{
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 19.36.10.jpeg);
    height: 750px;
    width: 95%;
    max-width: 450px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div#img-4{
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 13.06.16.jpeg);
    height: 400px;
    width: 95%;
    max-width: 450px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div#img-5 {
    background-image: url(/Para-Katy/imagens/Blank\ 4\ Grids\ Collage.png);
    height: 400px;
    width: 95%;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div#img-6 {
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 20.15.49\ \(1\).jpeg);
    height: 400px;
    width: 95%;
    max-width: 450px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div#img-7 {
    background-image: url(/Para-Katy/imagens/Screenshot\ \(44\).png);
    height: 100px;
    width: 95%;
    max-width: 450px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}

div#img-8 {
    background-image: url(/Para-Katy/imagens/WhatsApp\ Image\ 2022-06-16\ at\ 13.06.19.jpeg);
    height: 600px;
    width: 95%;
    max-width: 450px;
    margin: 40px auto;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;

}



#audio {
    
    margin-top: 20px;
    height: 40px;
    width: 270px;
}

div#video > video{
    height: 400px;
    width: 400px;

}

div#video {
    background-color: #551e381c;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
}

div#video2 {
    background-color: #551e381c;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-self: center;

}


div#botao, #botao-main{
    text-align: center;
    margin: 30px auto;
    background-color: #73294C;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}

#botao:hover, #botao-main:hover{
    background-color: #551e38;
}

div#botao a, #botao-main a{
    text-decoration: none;
    font-family: arial;
    font-size: 18px;
    font-weight: 550;
    color: #ffffff;

    display: block;
}

h1#ass {
    font-family: "font-h1-ass";
    text-align: center;
}

