/* Color Theme Swatches in Hex */
.Dirty-Work---Dia-dos-Namorados-1-hex { color: #73294C; }
.Dirty-Work---Dia-dos-Namorados-2-hex { color: #F28DD7; }
.Dirty-Work---Dia-dos-Namorados-3-hex { color: #F2BBE9; }
.Dirty-Work---Dia-dos-Namorados-4-hex { color: #8946A6; }
.Dirty-Work---Dia-dos-Namorados-5-hex { color: #623973; }

/* Color Theme Swatches in RGBA */
.Dirty-Work---Dia-dos-Namorados-1-rgba { color: rgba(114, 41, 75, 1); }
.Dirty-Work---Dia-dos-Namorados-2-rgba { color: rgba(242, 140, 215, 1); }
.Dirty-Work---Dia-dos-Namorados-3-rgba { color: rgba(242, 186, 232, 1); }
.Dirty-Work---Dia-dos-Namorados-4-rgba { color: rgba(136, 69, 165, 1); }
.Dirty-Work---Dia-dos-Namorados-5-rgba { color: rgba(97, 57, 114, 1); }
